# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Recordings/

# OS / IDE
.DS_Store
*.swp
*.tmp
*.user
*.suo
*.userprefs

# Visual Studio
.vscode/
.vs/
.gradle/
*.csproj
*.unityproj
*.sln
*.pidb
*.booproj
*.suo
*.tmp
*.user
*.userprefs
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Jetbrains Rider
Assets/Plugins/Editor/JetBrains*

# Meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Crash reports
sysinfo.txt
crashlytics-build.properties

# Builds
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Packed Addressables
Assets/AddressableAssetsData/*/*.bin*

# StreamingAssets auto-gen
Assets/StreamingAssets/aa.meta
Assets/StreamingAssets/aa/*
